body{
    background-image: url(/images/imagen.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    color:white;
    overflow-x: hidden;
    overflow-y: hidden;
}
li a {
    color:white;

}
footer{
    background-color:none;
}