body{
    background-image: url(/images/imagen.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    color:white;
    overflow-x: hidden;
    overflow-y: hidden;
}
li a {
    color:white;

}
#indexFooter{
    background-color:unset;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    bottom:20px;
}